<html>
<head>
    <title>Front</title>
    <link rel="stylesheet" href="<%= assetFingerprint('stylesheets/scss/styles.css') %>" />
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="logo"><img src="images/logo.png"></a>
        <ul class="menu">
            <li><a href="/">Hello</a></li>
        </ul>
    </div>
</header>
